<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>

  <!-- Without Virtual Path -->
  <!-- <link rel="stylesheet" href="css/style.css"> -->

   <!-- With Virtual Path -->
   <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
  <h1>Home Page</h1>
  <!-- Without Virtual Path -->
  <!-- <img src="images/Me.JPG" alt="" width="200"> -->

  <!-- With Virtual Path -->
  <img src="static/images/Me.JPG" alt="" width="200">

  <!-- Without Virtual Path -->
  <!-- <script src="javascript/script.js"></script> -->

  <!-- With Virtual Path -->
  <script src="static/javascript/script.js"></script>
</body>
</html>